@{
    ViewBag.Title = "Rubric";
}

<h2>Rubric</h2>

<div>
    <table width="100%" border="1" bordercolor="black" cellpadding="0" cellspacing="0">
        <tr bgcolor="black">
            <td>
                <h2 align="right" style="color:white"><strong>INF272&nbsp;&nbsp;</strong></h2>
            </td>
        </tr>
        <tr>
            <td>
                <h3 align="center"><strong>17. Campus Practical -Entity Framework 1</strong></h3>
                <h3 align="center"><strong>Due: 2022/09/26</strong></h3>
                <h3 align="center">
                    <strong>(&nbsp;&nbsp;&nbsp; ____&nbsp;&nbsp;&nbsp; / 25 marks)</strong>
                </h3>
            </td>
        </tr>
    </table>
    <br>
    <table width="100%" border="1" bordercolor="black" cellpadding="0" cellspacing="0">
        <tr>
            <td><h4><strong>&nbsp;REQUIREMENT</strong></h4></td>
            <td align="center"><h4><strong>MARK</strong></h4></td>
        </tr>
        <tr>
            <td>&nbsp;  1. Database connection</td>
            <td align="center">2</td>
        </tr>
        <tr>
            <td>&nbsp;  2. New model</td>
            <td align="center">2</td>
        </tr>
        <tr>
            <td>&nbsp;  3. Linking models</td>
            <td align="center">2</td>
        </tr>
        <tr>
            <td>&nbsp;  4. Updateing context file</td>
            <td align="center">2</td>
        </tr>
        <tr>
            <td>&nbsp;  5. Update seed</td>
            <td align="center">2</td>
        </tr>
        <tr>
            <td>&nbsp;  6. New controller with EF</td>
            <td align="center">5</td>
        </tr>
        <tr>
            <td>&nbsp;  7. Updated functionality</td>
            <td align="center">5</td>
        </tr>
        <tr>
            <td>&nbsp;  8. Cascade delete</td>
            <td align="center">5</td>
        </tr>
        <tr>
            <td><h4><strong>&nbsp;  TOTAL</strong></h4></td>
            <td align="center"><h4><strong>25</strong></h4></td>
        </tr>
    </table>
</div>