@{
    ViewBag.Title = "Rubric";
}

<br />
<br />
<div class="container" style="height: 400px; overflow: auto;">
    <table width="90%" border="1" bordercolor="black" cellpadding="0" cellspacing="0" align="center">
        <tr bgcolor="#454545">
            <td>
                <h2 align="right" style="color:white"><strong>INF272&nbsp;&nbsp;</strong></h2>
            </td>
        </tr>
        <tr>
            <td>
                <h3 align="center"><strong>18. Campus Practical -Entity Framework 2</strong></h3>
                <h3 align="center"><strong>Due: 2022/10/03 <u>before 23:59</u> loaded on ClickUP.</strong></h3>
                <h3 align="center">
                    <strong>(&nbsp;&nbsp;&nbsp; ____&nbsp;&nbsp;&nbsp; / 20 marks)</strong>
                </h3>
            </td>
        </tr>
    </table>
    <br>
    <table width="90%" border="1" bordercolor="black" cellpadding="0" cellspacing="0" align="center">
        <tr bgcolor="#C8C8C8">
            <td width="82%"><h4><strong>&nbsp;REQUIREMENT</strong></h4></td>
            <td align="center" width="18%"><h4><strong>MARK</strong></h4></td>
        </tr>
        <tr>
            <td><p>&nbsp;<strong>1.</strong> Database connection.</p></td>
            <td align="center"><h4><strong>1</strong></h4></td>
        </tr>
        <tr>
            <td><p>&nbsp;<strong>2.</strong> Searching (re-use and update pattern). Use the street address to search.</p></td>
            <td align="center"><h4><strong>4</strong></h4></td>
        </tr>
        <tr>
            <td>
                <p>
                    &nbsp;<strong>3.</strong> Sorting and Filtering (re-use and update pattern). Use the following details:
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>(a)</b> EmployeeDetails.first_name,
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>(b)</b> EmployeeDetails.last_name,
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>(c)</b> LocationDetails.street_address,
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>(d)</b> EmployeeDetails.email,
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>(e)</b> DepartmentDetails.department_name and
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>(f)</b> JobDetails.job_title.
                </p>
            </td>
            <td align="center"><h4><strong>4</strong></h4></td>
        </tr>
        <tr>
            <td>
                <p>
                    &nbsp;<strong>4.</strong> Joining 4 tables (re-use and update pattern). Use the following details:
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>(a)</b> locations,
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>(b)</b> departments,
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>(c)</b> employees, and
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>(d)</b> jobs.
                </p>
            </td>
            <td align="center"><h4><strong>6</strong></h4></td>
        </tr>
        <tr>
            <td>
                <p>
                    &nbsp;<strong>5.</strong> Updated and finalize functionality. Update the following views (ActivityController.cs):
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>(a)</b> Index.cshtml,
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>(b)</b> Details.cshtml.
                </p>
            </td>
            <td align="center"><h4><strong>5</strong></h4></td>
        </tr>
        <tr bgcolor="#C8C8C8">
            <td><h4><strong>&nbsp;TOTAL</strong></h4></td>
            <td align="center"><h4><strong>20</strong></h4></td>
        </tr>
    </table>
    <p>&nbsp;</p>
</div>