@{
    ViewBag.Title = "Playlists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style>
        .container-scroll {
            max-height: 500px;
            overflow-y: scroll;
        }
    </style>    
}

<h2>Playlists</h2>

<div class="col-xs-12">
    <div class="form-group form-inline">
        <label class="">Playlist Name:</label>
        <input class="form-control" id="playlist-name" />
        <button class="btn btn-primary" id="add-playlist">New Playlist</button>
    </div>
    
</div>

<div class="container-scroll col-xs-6">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Playlist</th>
                <th># of Tracks</th>
            </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
    </table>
</div>

<div class="container-scroll col-xs-6">
    <h3>Playlist: <span id="playlist-details-name"></span></h3>
    <div>
        <ul class="list-group" id="track-list">
           
        </ul>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(() => {
            GetPlaylists();

            function GetPlaylists() {
                $.get({
                    url: "@Url.Action("GetPlaylists", "Spotify")",
                    success: (data) => {
                        let playlistData = JSON.parse(data);

                        console.log(playlistData);

                        $("#table-body").empty();

                        $(playlistData).each((i, e) => {
                            $("#table-body").append(`<tr data-id="${e.ID}"><td>${e.Name}</td><td>${e.Tracks}</td></tr>`);
                        });
                    }
                });
            }

            $("#add-playlist").on("click", () => {
                $.post({
                    url: "@Url.Action("AddPlaylist", "Spotify")",
                    data: {
                        name: $("#playlist-name").val()
                    },
                    success: (data) => {
                        let msg = JSON.parse(data);

                        alert(msg.message);
                        GetPlaylists();
                    }
                });
            });

            $("#table-body").on("click", "tr", function () {
                console.log($(this).attr("data-id"))
                let id = parseInt($(this).attr("data-id"));

                $.get({
                    url: "@Url.Action("GetPlaylistTracks", "Spotify")",
                    data: {
                        id: id
                    },
                    success: (data) => {
                        let tracksData = JSON.parse(data);

                        console.log(tracksData)
                        $("#track-list").empty();
                        $("#playlist-details-name").text(tracksData.Name)

                        $(tracksData.Tracks).each((i, e) => {
                            $("#track-list").append(`<li class="list-group-item">${e.Name}</li>`);
                        });
                    }
                });
            });
        });
    </script>
}