@{
    ViewBag.Title = "Section C";
}

<div class="well-sm">
    <h1>2022 INF272 Section C</h1>
    <p>MVC and Razor</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Question 01</h2>
        <p>
            Please complete the code required for a loop to be executed and the text added to a textbox to be run in the loop.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Question 02</h2>
        <p>
            Please complete the code required to calculate totals as found in a temporary data.txt file. The code required to generate the data.txt file is provided. You will require x3 code blocks for this question. 
        </p>
    </div>
</div>