@{
    ViewBag.Title = "VIew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 class="text-center display-1">Assignments</h1><br />
    <p class="text-center">No assignments</p>
</div>


