@model ProductSupplier.Models.SupplierVM

@{
    ViewBag.Title = "SupplierProductAverages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .auto-style {
        color: #FFFFFF;
    }

    .t {
        text-align: center;
        vertical-align: middle;
    }
</style>
<h2>Supplier Average Prices</h2>

<div style="height: 250px; overflow: auto;">
    <table class="table table-condensed table-hover" ">
        <thead style="position: sticky;top: 0">
            <tr bgcolor="#222222" class="auto-style">
                <th width="33%">Supplier ID</th>
                <th width="33%">Supplier Name</th>
                <th width="33%">Average Prices</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var supplier in Model.Suppliers)
                {
                <tr>
                    <td>@supplier.SupplierID</td>   @*Edited out to avoid error*@
                    <td>@supplier.Name</td>         @*Edited out to avoid error*@

                     @*Complete this section*@

                     @*In this line, complete the match statement (making use of lambda) that would present the price average per supplier (SupplierID)
                       of all the prices associated with the products prodivded by suppliers.

                       Hint – it is a very simple lambda statement that makes use of predeveloped LINQ / Lambda functionality.
                         
                       Focus on the SupplierID obtained from the ProdSupplier.
                        
                         
                       Round the value to 2 decimals*@
                    @{ 
                        var price = Model.Prices.Where(o => o.SupplierID == supplier.SupplierID);
                        var AveragePrice = price.Average(x => x.Price);
                    }

                    <td>@Math.Round(AveragePrice, 2)</td>

                      @*Complete this line*@

                      @*Complete this section*@
                </tr>
                        }
        </tbody>
    </table>
</div>