USE [master]
GO
/****** Object:  Database [DB2]    Script Date: 2022/08/22 11:02:52 ******/
CREATE DATABASE [DB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
--EXEC [DB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB2]
GO
/****** Object:  Table [dbo].[CourseAssignmentsMarking]    Script Date: 2022/08/22 11:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseAssignmentsMarking](
	[ID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[MarkerID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
 CONSTRAINT [PK_CourseAssignmentsMarking] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 2022/08/22 11:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](350) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 2022/08/22 11:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2022/08/22 11:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CourseAssignmentsMarking] ([ID], [CourseID], [MarkerID], [StudentID]) VALUES (1, 2990, 476243631, 699943491)
INSERT [dbo].[CourseAssignmentsMarking] ([ID], [CourseID], [MarkerID], [StudentID]) VALUES (2, 2532, 811944439, 241955329)
INSERT [dbo].[CourseAssignmentsMarking] ([ID], [CourseID], [MarkerID], [StudentID]) VALUES (3, 2487, 486538554, 878653359)
GO
INSERT [dbo].[Courses] ([ID], [Name], [Description]) VALUES (2115, N'Politics', N'Record white least sea. Compare thus ready institution everybody too story.
Determine myself trade clearly. Nearly family exist agent machine.
Attention star room less vote bill. Stuff cup should white candidate. Inside floor focus today much.
Me thousand raise situation care help few become. Ability read treatment carry.')
INSERT [dbo].[Courses] ([ID], [Name], [Description]) VALUES (2119, N'Complementary Medicine', N'Mission instead spring camera. Director someone girl situation contain. Policy present lead various.
Six product during tree away account. Strong growth kitchen house. Newspaper little student cut.
Break son collection test low scene. Represent especially moment Mr long machine. Rest what she hundred through everything.')
INSERT [dbo].[Courses] ([ID], [Name], [Description]) VALUES (2133, N'Medicine', N'Or happen body week support decide something. Third these hundred finally agent. Accept eye occur everyone generation.
Lead star if language computer culture happy environmental. This open wife writer follow.
Call finish age personal model compare young. Response most most. Figure couple brother little.')
GO
INSERT [dbo].[Staff] ([ID], [Title], [Name]) VALUES (125464449, N'Mayor', N'Christina Stephens')
INSERT [dbo].[Staff] ([ID], [Title], [Name]) VALUES (133393453, N'Varma', N'Dr. Scott Wright')
INSERT [dbo].[Staff] ([ID], [Title], [Name]) VALUES (141249299, N'Zhuxi', N'Jennifer Lucas')
GO
INSERT [dbo].[Students] ([ID], [Name]) VALUES (178378914, N'Ryan Gonzalez')
INSERT [dbo].[Students] ([ID], [Name]) VALUES (198161721, N'Scott Martinez')
INSERT [dbo].[Students] ([ID], [Name]) VALUES (224563918, N'Patrick Arellano')
GO
USE [master]
GO
