@model ClassActivity.Models.ListItemType

@{
    ViewBag.Title = "Details";
}
<h2>Editing: @Html.DisplayFor(model => model.ListItemTypeDescription)</h2>
<hr />
<table class="table-bordered" width="100%">
    <tr>
        <th>Description</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.ListItemTypeDescription)</td>
    </tr>
</table>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ListItemTypeID }, new { @class = "btn btn-warning btn-sm" })
    @Html.ActionLink("Back to List Type", "Index", null, new { @class = "btn btn-primary btn-sm" })
</p>