@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-color: #C4D300; /*The Shrek colour*/
    }
</style>
<br />
<br />
<div>
            <h1>ASCII Shrek</h1>
    </div>

<div class="h3">
        <div>    ⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<span>If you are reading this then I apologise for the </span></div>
        <div>    ⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀<span>bizarre picture of Shrek on the screen</span></div>
        <div>    ⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀<span>I didn't want to remove the page so I decided</span></div>
        <div>    ⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀⠀<span>To insert something cool and unfortunately,</span></div>
        <div>    ⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆⠀  <span>happens to be mildly disturbing</span></div>
        <div>    ⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿⠀</div>
        <div>    ⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀⠀</div>
        <div>    ⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀</div>
        <div>    ⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀</div>
        <div>    ⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀</div>
        <div>    ⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀</div>
        <div>    ⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀</div>
        <div>    ⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀</div>
        <div>    ⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</div>
        <div>    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉⠀</div>
    </div>
@*________________________________________________________________________________________
________________________________________________________________________________________
__________________________░░______________________________________________________░░____
________________________________________________________________________________________
______________________________████████__________________________________________________
____________________________████________________________________________________________
______________________________████______________████████████____________________________
______________________________██______________████████████______________________________
____________________________████____________________██__________________________________
____________________________██████████████████████████__________________________________
__________________________████____________________██████________________________________
______________██████████__██████__________________██__████____██████████________________
__________████__________██████████________________██____██████__________████____________
________██________________██████████____________████____██__________________██__________
______██________________████__████████__________██____██______________________██________
______██________________████__██__██████__████████____██______________________██________
____██________________████______██__██████__██__██__██__________________________██______
____██______________████________██____████████████__██__________________________██______
____██____________████__________██______████████____██__________________________██______
____██____________████__________██________████████████__________________________██______
____██__________________________██__________██████████__________________________██______
______██______________________██______________██______██______________________██________
______██______________________██______________██______██______________________██__░░____
________██__________________██______________██████______██__________________██__________
__________████__________████______________________________████__________████____________
______________██████████______________________________________██████████________________
________________________________________________________________________________________
________________________________________________________________________________________
________________________________________________________________________________________*@
